#container{
    display: flex;
    width: 500px;
    height: 500px;
    border: solid;
    flex-direction: column;
}

#header{
    height: 100px;
    background-color: rgb(147, 147, 211);
}

#footer{
    height: 100px;
    background-color: rgb(147, 147, 211);
} 

#main-container{
    height: calc(100% - 200px);
    display: flex;
}

#menu{
    width: 100px;
    background-color: plum;
}

#content{
    width: 300px;
    background-color: rgb(217, 178, 106);
}

#ads{
    width: 100px;
    background-color: plum;
}
