#container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas: "nav" "main" "footbar";
    grid-gap: 5px;
}

#nav-bar{
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav-item{
    display: grid;
    align-content: center;
    justify-content: center;
    border: 1px solid #2c9077;
    background-color:  #84A59D;
    cursor: pointer;
    color: white;
    font-size: 15px;
}

#main-content{
    grid-area: main;
    background-color: #F7EDE2;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding: 15px;
    box-sizing: border-box;
}

.product img{
    width:  400px;
    height: 200px;
    object-fit: cover;
}

.product p{
    display: inline-block;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}

#footbar{
    grid-area: footbar;
    background-color: #F5CAC3;
}

#about-us-container{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/-1;
    grid-template-rows: 1fr;
    grid-gap: 5px;
}

#about-us-container img{
    width: 100%;
    height: 100%;
}

#about-us-content{
    border: 5px solid #F5CAC3;
    padding: 10px;
}

#about-us-content p{
    line-height: 2;
    font-family: Helvetica;
    text-align: justify;
}